/* Удаляем ul заполнения и стиля списка */

ul {
	list-style-type: none; /* Очистка маркеров */
	margin: 0; /* Внешний отступ */
	padding: 0; /* Внутренний отступ */
	position: absolute; /* Позиция: абсоллютная */
}

/* Создаем горизонтальный список с интервалом */

li {
	display: inline-block; /* Превращаем li в строчно-блочный элемент, чтобы меню было горизонтальное */
	float: left; /* Обтекание left */
	margin-right: 1px; /* Правый внешний отступ */
}

/* Стили для ссылок меню */

li a {
	display: block; /* Превращаем ссылки в блочный элемент */
	min-width: 140px; /* Минимальная ширина */
	height: 50px; /* Высота */
	text-align: center; /* Выравнивание текста ссылок */
	line-height: 50px; /* Межстрочный интервал (занимает всю ширину блока, т.к. строка текста ссылки будет одна) */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Определяем шрифты */
	color: #fff; /* Цвет текста */
	background: #2f3036; /* Цвет фона */
	text-decoration: none; /* Очистка подчёркивания у ссылок */
}

/* Состояние наведения для ссылок верхнего уровня */

li:hover a {
	background: #19c589; /* Цвет фона когда на ссылку наводят мышью */
}

/* Стили для выпадающих ссылок */

li:hover ul a {
	background: #f3f3f3; /* Цвет фона для выпадающих ссылок */
	color: #2f3036; /* Цвет текста для выпадающих ссылок */
	height: 40px; /* Высота */
	line-height: 40px; /* Межстрочный интервал */
}

/* Состояние наведения для выпадающих ссылок */

li:hover ul a:hover {
	background: #19c589; /* Цвет фона при наведении на выпадающие ссылки */
	color: #fff; /* Цвет текста при наведении на выпадающие ссылки */
}

/* Скрывать раскрывающиеся ссылки, пока они не понадобятся */

li ul {
	display: none; /* Временно удаляет элемент */
}

/* Делаем выпадающие ссылки вертикальными */

li ul li {
	display: block; /* Превращаем выпадающие ссылки в блочные элементы чтобы сделать их вертикальными */
	float: none; /* Думаю понятно что здесь :) */
}

/* Запретить перенос текста */

li ul li a {
	width: auto; /* Автоматизированная ширина */
	min-width: 100px; /* Минимальная ширина */
	padding: 0 20px; /* Внутренние отступы */
}

/* Отображение раскрывающегося списка при наведении */

ul li a:hover + .hidden, .hidden:hover {
	display: block; /* При наведении на раскрывающий список превращаем элемент в блочный */
}

/* Адаптивные стили */

@media screen and (max-width: 760px) {
	/* Делаем раскрывающиеся ссылки встроенными */
	ul {
		position: static; /* Статическая позиция */
		display: none; 
	}

	/* Создаём вертикальный интервал */
	li {
		margin-bottom: 1px; /* Внешний нижний отступ */
	}
	/* Делаем все ссылки меню максимальной шириной */
	ul li, li a {
		width: 100%; /* Делаем все ссылки меню максимальной шириной */
	}
}
